<div class="flag-header">
  <div class="grid-container">
    <a href="/" class="flag-logo">FLAGTEST.NZ</a>
  </div>
</div>
<div class="flag-canvas js-flag-canvas"></div>
<% if(!fromUpload){ %>
  <div class="flag-info">
    <div class="grid-container">
      <h1 class="flag-heading"><span class="flag-title"><%= title %></span> by <span class="flag-designer"><%= designer %></span></h1>
      <p class="flag-discourse">Discuss on <a href="#">flagpost.nz</a> ». View original submission on <a href="<%= url %>" target="_blank">flag.govt.nz</a> »</p>
    </div>
  </div>
<% } %>
