// Ghetto reset
*{
  margin: 0;
  padding: 0;
}

// Variables
$blue: #69b3df;
$black: #333333;
$white: #FFF;
$gray: #4a4a4a;

$sans: 'Calibre', 'Helvetica Neue', Sans-Serif;

//
html{
  background-color: $black;
  font-family: $sans;
}

@import "grid/_breakpoints";
@import "grid/_grid";
@import "ui/_skyline";
@import "ui/_intro";
@import "ui/_footer";
@import "ui/_flag";
@import "type/_headings";
@import "ui/_btn";
