<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Flag Test</title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <meta http-equiv="cleartype" content="on">
        <link rel="stylesheet" href="/assets/css/style.min.css" media="screen" charset="utf-8">
    </head>
    <body>
      <div class="skyline js-skyline">
        <div class="intro js-view" data-view="Intro">
          <h3 class="lined-heading">FLAGTEST.NZ</h3>
          <p class="intro-text">See how a flag design works in a raging <span class="desktop-break"></span>New Zealand southerly or a gentle nor'wester...</p>
          <div class="intro-actions">
            <button class="btn">Upload &amp; test a flag</button>
            &nbsp;
            <button class="btn js-random">View a random flag</button>
          </div>
          <p class="intro-submit">Looking to submit a design? <a href="http://flag.govt.nz" target="_blank">Visit the official site &#10140;</a></p>
        </div>
      </div>
      <div class="footer">
        <div class="grid-container">
          <div class="footer-about grid-col grid-col-2_3">
            <h3 class="footer-heading lined-heading">About</h3>
            <div class="grid-container">
              <div class="grid-col grid-col-1_2">
                <p>We think you can’t really tell how awesome a flag is until it’s flown. Does it look recognisable in a gentle nor’wester or will we only be able to tell if it’s our flag when it’s a raging New Zealand southerly…</p>

                <p>Brought to you by Dan Newman & Jarred Bishop. </p>

                <p>This site uses clever code from Josh Barr (NZ Flag API) & Joshua Koo (3D Flag Javascript).



              </div>
              <div class="grid-col grid-col-1_2">
                <p>This site is not associated with the New Zealand Governments flag consideration project.
 Visit the official sites: flag.govt.nz & standfor.co.nz.</p>
<p>The flag submissions are being used under the Creative Commons Attribution 3.0 NZ Licence.</p>

              </div>
            </div>
          </div>
          <div class="footer-elsewhere grid-col grid-col-1_3">
            <h3 class="footer-heading lined-heading">Elsewhere</h3>
          </div>
        </div>
      </div>
      <script src="/assets/js/vendor/three50dev2.js"></script>
      <script src="/assets/js/vendor/flag-physics.js"></script>
      <script src="/assets/js/flag3d.js"></script>
      <script type="text/template" class="tpl-flag">
        <div class="flag-header">
          <div class="grid-container">
            <a href="/" class="flag-logo">FLAGTEST.NZ</a>
          </div>
        </div>
        <div class="flag-canvas js-flag-canvas"></div>
        <div class="flag-info">
          <div class="grid-container">
            <h1 class="flag-heading"><span class="flag-title"><%= title %></span> by <span class="flag-designer"><%= designer %></span></h1>
            <p class="flag-discourse">Discuss on <a href="#">flagpost.nz</a>. View original submission on <a href="<%= url %>" target="_blank">flag.govt.nz</a></p>
          </div>
        </div>
      </script>
      <script type="x-shader/x-fragment" id="fragmentShaderDepth">
  			uniform sampler2D texture;
  			varying vec2 vUV;
  			vec4 pack_depth( const in float depth ) {
  				const vec4 bit_shift = vec4( 256.0 * 256.0 * 256.0, 256.0 * 256.0, 256.0, 1.0 );
  				const vec4 bit_mask  = vec4( 0.0, 1.0 / 256.0, 1.0 / 256.0, 1.0 / 256.0 );
  				vec4 res = fract( depth * bit_shift );
  				res -= res.xxyz * bit_mask;
  				return res;
  			}
  			void main() {
  				vec4 pixel = texture2D( texture, vUV );
  				if ( pixel.a < 0.5 ) discard;
  				gl_FragData[ 0 ] = pack_depth( gl_FragCoord.z );
  			}
  		</script>
  		<script type="x-shader/x-vertex" id="vertexShaderDepth">
  			varying vec2 vUV;
  			void main() {
  				vUV = 0.75 * uv;
  				vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
  				gl_Position = projectionMatrix * mvPosition;
  			}
  		</script>
      <script src="/assets/app.min.js"></script>
    </body>
</html>
