.skyline{
  position: relative;
  height: 0;
  padding-bottom: 50%;
  background-color: $blue;
  background-image: url('/assets/images/sky-bg.jpg');
  background-size: cover;
  background-position: center center;
  @include breakpoint(mobile){
    padding-bottom: 160%;
  }
  @include breakpoint(tablet){
    padding-bottom: 100%;
  }
}

.skyline-upload{
  position: relative;
}

.skyline-upload-input{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
