<div class="footer">
  <div class="grid-container">
    <div class="footer-about grid-col grid-col-2_3">
      <h3 class="footer-heading lined-heading">About</h3>
      <div class="grid-container">
        <div class="grid-col grid-col-1_2">
          <p>We think you can’t really tell how awesome a flag is until it’s flown. Does it look recognisable in a gentle nor’wester or will we only be able to tell if it’s our flag when it’s a raging New Zealand southerly…</p>

          <p>Brought to you by Dan Newman & Jarred Bishop. </p>

          <p>This site uses clever code from Josh Barr (NZ Flag API) & Joshua Koo (3D Flag Javascript).



        </div>
        <div class="grid-col grid-col-1_2">
          <p>This site is not associated with the New Zealand Governments flag consideration project.
 Visit the official sites: flag.govt.nz & standfor.co.nz.</p>
<p>The flag submissions are being used under the Creative Commons Attribution 3.0 NZ Licence.</p>

        </div>
      </div>
    </div>
    <div class="footer-elsewhere grid-col grid-col-1_3">
      <h3 class="footer-heading lined-heading">Elsewhere</h3>
    </div>
  </div>
</div>
