<head>
    <meta charset="utf-8">
    <title>flagtest.nz</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta http-equiv="cleartype" content="on">
    <link rel="stylesheet" href="/assets/css/style.css" media="screen" charset="utf-8">
    <script src="/assets/js/vendor/modernizr.js"></script>
    <link rel="shortcut icon" href="/assets/images/ftnz_icon_360.png">
    <!-- FACEBOOK & LINKEDIN -->
    <meta property="og:title" content="Flag Test">
    <meta property="og:type" content="See how a flag design works in a raging New Zealand southerly or a gentle nor’wester…">
    <meta property="og:url" content="http://flagtest.nz">
    <meta property="og:image" content="http://flagtest.nz/assets/images/ftnz_promo.png">
    <meta property="og:site_name" content="http://flagtest.nz">
    <meta property="og:description" content="See how a flag design works in a raging New Zealand southerly or a gentle nor’wester…">
    <!-- TWITTER -->
    <meta name="twitter:card" content="See how a flag design works in a raging New Zealand southerly or a gentle nor’wester…">
    <meta name="twitter:site" content="http://flagtest.nz">
    <meta name="twitter:url" content="http://flagtest.nz">
    <meta name="twitter:image" content="http://flagtest.nz/assets/images/ftnz_promo.png">
    <meta name="twitter:image:src" content="http://flagtest.nz/assets/images/ftnz_promo.png">
</head>
