.btn{
  display: inline-block;
  text-transform: uppercase;
  border: 1px solid rgba($white, .5);
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  background-color: transparent;
  font-weight: 700;
  color: $white;
  padding: 10px;
  vertical-align: middle;
  font-size: 15px;
  border-radius: 2px;
  letter-spacing: 1px;
  &:hover{
    background-color: $white;
    color: $blue;
    cursor: pointer;
  }
}
