@font-face {
	font-family: 'CalibreWeb';
	src: url('../fonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CalibreWeb-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
	font-family: 'CalibreWeb';
	src: url('../fonts/CalibreWeb-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CalibreWeb-Semibold.woff') format('woff');
  font-weight: 600;
}
