.lined-heading{
  font-weight: 600;
  color: $white;
  border-bottom: 1px solid rgba($white, .2);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

h1{
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
