@mixin breakpoint($point) {
  @if $point == wide{
    @media (min-width: 1200px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 1025px) and (max-width: 1200px) { @content; }
  }
  @else if $point == tablet {
    @media (min-width: 768px) and (max-width: 1025px) { @content; }
  }
  @else if $point == mobile {
    @media (min-width: 0px) and (max-width: 767px)  { @content; }
  }
  @if $point == landscape{
    @media (orientation: landscape) { @content; }
  }
  @if $point == portrait{
    @media (orientation: portrait) { @content; }
  }
  @if $point == retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2),
     only screen and (-moz-min-device-pixel-ratio: 2),
     only screen and (-o-min-device-pixel-ratio: 2/1),
     only screen and (min-device-pixel-ratio: 2),
     only screen and (min-resolution: 192dpi),
     only screen and (min-resolution: 2dppx){
       @content;
     }
  }
}

.mobile-and-tablet-only{
  display: none;
  @include breakpoint(mobile){
    display: block;
  }
  @include breakpoint(tablet){
    display: block;
  }
}

@include breakpoint(mobile){
  .not-mobile-and-tablet{
    display: none !important;
  }
}
@include breakpoint(tablet){
  .not-mobile-and-tablet{
    display: none !important;
  }
}

.desktop-break{
  display: block;
  @include breakpoint(mobile){
    display: none;
  }
  @include breakpoint(tablet){
    display: none;
  }
}

@include breakpoint(mobile){
  .break-mobile{
    display: block;
  }
}
